.banner {
    display: none;
    width: 100%;

    &.show {
        display: block;
    }

    .wrapper {
        display: inline-flex;
        font-family: $body-bold;
        font-size: 0.8rem;
        margin: 0.5rem 0;
        padding: 0.5rem 2rem;
    }

    .wrapper.success {
        background: $success-bg;
        color: $success-text;
    }

    .wrapper.error {
        background-color: $error-bg;
        color: $error-text;
    }

    .landing {
        background: $primary;
        color: $white;
    }
}

.landing.banner {
    position: absolute;
    top: $navbar-height;
    z-index: 99;

    .wrapper {
        margin: 0;
    }
}

@media screen and (max-width: $tablet-screen) {
    .landing.banner {
        top: $mobile-navbar-height;
    }
}