.card-container {
    border-radius: 0.8rem 0.8rem 0 0;
    box-shadow: px2rem(8) 0 px2rem(30) rgba(0, 0, 0, 0.15);
    height: px2rem(360);
    margin: 0 1.3rem;
    overflow: hidden;
    transition: 0.5s;
    width: px2rem(320);
}

.card-img {
    height: px2rem(250);
    object-fit: contain;
    object-position: center;
}

.card-desc {
    font-family: $heading-regular;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
}

.card-row {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;

    &.translate {
        transform: translateY(-2rem);
    }
}

.card-row.translate {
    padding-bottom: 3rem;

    &:last-child {
        padding-bottom: 5rem;
    }

    .card-container:nth-child(2n) {
        transform: translateY(6rem);
    }
}


@media screen and (max-width: $tablet-screen) {

    .card-section {
        margin-top: 3rem;
    }

    .card-container {
        margin: 1.3rem;
    }

    .card-row {
        flex-direction: column;
    }

    .card-row.translate {
        padding-bottom: 1rem;
        transform: translateY(0);

        &:last-child {
            padding-bottom: 1rem;
        }

        .card-container:nth-child(2n) {
            transform: translateY(0);
        }
    }
}