.card-container {
    border-radius: 0.8rem 0.8rem 0 0;
    box-shadow: px2rem(8) 0 px2rem(30) rgba(0, 0, 0, 0.15);
    height: px2rem(390);
    margin: 0 1.3rem;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    width: px2rem(340);
}

.card-container.shaded {
    background: #f8f7f7;
    border-radius: 0.8rem;

    .title {
        position: absolute;
        bottom: 0.2rem;
        font-family: $body-bold;
        text-align: center;
        font-size: 1.5rem;
    }

    .card-desc {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 0.8s;
        visibility: hidden;
        opacity: 0;
        text-align: left;
    }

    &:hover .card-desc {
        visibility: visible;
        opacity: 1;
        background: $white;
        color: $black;
        cursor: default;
    }

    .card-desc ul {
        list-style: none;
        font-family: $body-regular;

        li {
            position: relative;
            padding-left: 2rem;
        }

        li::before {
            content: '';
            position: absolute;
            height: 0.5rem;
            width: 0.5rem;
            background: rgba(137, 91, 66, 0.81);
            left: 1rem;
            top: 0.5rem;
        }
    }
}

.card-container.selected {
    transform: scale(1.2);
    margin: 0 3rem;
}

.card-img {
    height: px2rem(250);
    object-fit: contain;
    object-position: center;
}

.card-img-div {
    display: flex;
    justify-content: center;
    height: px2rem(230);
    padding: 2rem;

    .card-img {
        height: 100%;
    }
}

.shaded .card-img-div {
    height: 100%;
    padding: 0;
}

.card-desc {
    font-family: $heading-regular;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
}

.card-heading {
    font-family: $heading-bold;
    text-align: center;
    color: #895B42;
}

.card-row {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;

    &.translate {
        transform: translateY(-2rem);
    }
}

.card-row.translate {
    padding-bottom: 3rem;

    &:last-child {
        padding-bottom: 5rem;
    }

    .card-container:nth-child(2n) {
        transform: translateY(6rem);
    }
}

.card-section.pad {
    padding-top: 2rem;
}


.card-select-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 3rem;

    .select-button {
        cursor: pointer;
        padding: 1rem 0;
        margin: 0 1rem;

        .background {
            background: $white;
            height: 0.8rem;
            transition: 0.3s;
            width: 0.8rem;
            border-radius: 50%;
        }

        &.selected .background {
            transform: scale(2);
        }
    }
}

.round-card {
    border-radius: 50%;
    box-shadow: px2rem(10) px2rem(10) px2rem(50) rgba(0, 0, 0, 0.15);
    height: px2rem(280);
    overflow: hidden;
    width: px2rem(280);
}

@media screen and (max-width: $tablet-screen) {

    .card-section {
        margin-top: 3rem;
    }

    .card-container {
        margin: 1.3rem;
    }

    .card-row {
        flex-direction: column;
    }

    .card-row.translate {
        padding-bottom: 1rem;
        transform: translateY(0);

        &:last-child {
            padding-bottom: 1rem;
        }

        .card-container:nth-child(2n) {
            transform: translateY(0);
        }
    }

    .card-select-container {
        display: none;
    }

    .card-container.selected {
        transform: scale(1);
        margin: 0 1.3rem;
    }
}