.card-container {
    border-radius: 0.8rem 0.8rem 0 0;
    box-shadow: px2rem(8) 0 px2rem(30) rgba(0, 0, 0, 0.15);
    height: px2rem(360);
    margin: 0 1.3rem;
    overflow: hidden;
    transition: 0.5s;
    width: px2rem(320);
}

.card-container.shaded {
    background: #f8f7f7;
}

.card-container.selected {
    transform: scale(1.2);
    margin: 0 3rem;
}

.card-img {
    height: px2rem(250);
    object-fit: contain;
    object-position: center;
}

.card-img-div {
    display: flex;
    justify-content: center;
    height: px2rem(230);
    padding: 2rem;

    .card-img {
        height: 100%;
    }
}

.card-desc {
    font-family: $heading-regular;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
}

.card-row {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;

    &.translate {
        transform: translateY(-2rem);
    }
}

.card-row.translate {
    padding-bottom: 3rem;

    &:last-child {
        padding-bottom: 5rem;
    }

    .card-container:nth-child(2n) {
        transform: translateY(6rem);
    }
}

.card-section.pad {
    padding-top: 2rem;
}


.card-select-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 3rem;

    .select-button {
        cursor: pointer;
        padding: 1rem 0;
        margin: 0 2rem;

        .background {
            background: $black;
            height: 0.2rem;
            transition: 0.3s;
            width: 3rem;
        }

        &.selected .background {
            height: 0.5rem;
            width: 5rem;
        }
    }
}

@media screen and (max-width: $tablet-screen) {

    .card-section {
        margin-top: 3rem;
    }

    .card-container {
        margin: 1.3rem;
    }

    .card-row {
        flex-direction: column;
    }

    .card-row.translate {
        padding-bottom: 1rem;
        transform: translateY(0);

        &:last-child {
            padding-bottom: 1rem;
        }

        .card-container:nth-child(2n) {
            transform: translateY(0);
        }
    }

    .card-select-container {
        display: none;
    }

    .card-container.selected {
        transform: scale(1);
        margin: 0 1.3rem;
    }
}