/**
* @author Ankit Kumar <hello@ankdev.me> (https://ankdev.me)
*/

// fonts variables are defines in variables/_fonts.scss

.footer {
    .copyright {
        padding: 1rem 0;
        position: relative;
        z-index: 10;
    }
}

@media screen and (max-width: $tablet-screen) {
    .footer-wrapper {
        flex-direction: column;
        padding-left: 2rem;
    }
}


@media screen and (max-width: $mobile-screen) {
    .footer-wrapper {
        padding-left: 0;
    }
}