/**
* @author Ankit Kumar <hello@ankdev.me> (https://ankdev.me)
*/

.footer {
    align-items: flex-end;
    background: rgba(137, 91, 66, 0.81);
    color: $white;
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}