/**
* @author Ankit Kumar <hello@ankdev.me> (https://ankdev.me)
*/

// dimension variables are defines in variables/_component_dim.scss
// fonts variables are defines in variables/_fonts.scss

$background: linear-gradient(180deg, rgba(255, 255, 255, 0) 23.96%, rgba(0, 0, 0, 0.25) 100%),
rgba(137, 91, 66, 0.81);

.navbar {
    background: $white;
    height: $navbar-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5s;
    z-index: 999;

    .navbar-wrapper {
        background: $background;
        padding: 0 1rem;
    }

    .mobile {
        display: none;
    }

    .logo-container {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        max-width: px2rem(200);
        width: 100%;
    }

    .logo {
        height: 4em;
    }

    .logo-title {
        height: 1rem;
        margin-left: 1rem;
    }

    .menu-container {
        display: flex;
        flex: 1;
        justify-content: flex-start;
    }

    .ul {
        display: inline-flex;
        flex: 1;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0 px2rem(32);
    }

    .li {
        margin-right: px2rem(32)
    }

    .link {
        align-self: stretch;
        align-items: center;
        color: $white;
        display: flex;
        font-family: $heading-regular;
        position: relative;
    }

    .li .link.router-link-active {
        font-family: $heading-bold;
    }
}

.navbar .mobile {
    .menu {
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        margin-right: 2rem;

    }

    .ul {
        background: $background;
        display: block;
        flex-direction: column;
        height: 0;
        left: 0;
        overflow: auto;
        position: fixed;
        right: 0;
        top: $mobile-navbar-height;
        transition: 0.5s;
    }

    .link {
        padding: 0.5rem 0;

    }

    .li {
        border-bottom: 0.0625rem solid darken($color: $white, $amount: 10);
        display: block;
    }

    .li .link {
        flex: 1;
    }

    .link:after {
        background: 0;
    }
}

@media screen and (max-width: $tablet-screen) {
    .navbar {
        height: $mobile-navbar-height;

        .desktop {
            display: none;
        }

        .mobile {
            display: flex;
        }
    }
}

@media screen and (max-width: $mobile-screen) {
    .navbar {
        height: $mobile-navbar-height;

        .logo {
            height: 2rem;
        }

        .logo-title {
            height: 0.5rem;
            margin-left: 0.5rem;
        }

    }
}