/**
 * @author Ankit Kumar <hello@ankdev.me> (https://ankdev.me)
 */

$primary: #00A950;

$white: #fff;
$black: #000;

$black-20: #232323;
$black-30: #313131;
$black-40: #3D3D3D;


$success-bg: #b7efcd;
$success-text: #17706e;

$error-bg: #fc9d9d;
$error-text: #d32626;