/**
 * @author Ankit Kumar <hello@ankdev.me> (https://ankdev.me)
 */

// Navbar
$navbar-height: px2rem(80);
$mobile-navbar-height: px2rem(60);

//components
$max-container-width: px2rem(1200);
$container-sm: px2rem(400);
$container-md: px2rem(600);
$container-lg: px2rem(800);
$container-xl: px2em(1000);