/**
 * @author Ankit Kumar <hello@ankdev.me> (https://ankdev.me)
 */

$heading-regular: 'heading-regular';
$heading-bold: 'heading-bold';

$body-regular: 'regular-font';
$body-bold: 'body-bold';

$paragraph-large: px2rem(20);
$paragraph: px2rem(16);
$paragraph-small: px2rem(12);