$colors: ('primary': $primary,
    'white': $white,
    'black': $black,
    'black-20': $black-20,
    'black-30': $black-30,
    'black-40': $black-40,
);

@each $name,
$color in $colors {
    .#{$name}-text {
        color: $color
    }

    .#{$name}-bg {
        background: $color
    }
}

.primary-bg.hover:hover {
    background: darken($color: $primary, $amount: 20)
}

.error-text {
    color: #f00 !important;
}

.success-text {
    color: #4caf50 !important;
}

.error-border {
    border-color: #f00 !important;
}