/**
 * @author Ankit Kumar <hello@ankdev.me> (https://ankdev.me)
 */

// styles which directly change the base style of tags.

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
}